<!doctype html>
<html>
    <head>
        <title>About</title>
     <link rel="icon" href="./img/logo.png">
     <link rel="stylesheet" href="./css/styles.css">
    
         <script src="./js/app.js"></script>     
    </head>
    <body>
        <div class="main-content">
       {{>header}}
       
       <p><b>Bringing you the Weather App</b></p>
       <p>This site was created by <b>Rajat Singh</b>, It uses data from mapbox.com and darksky.net</p>
       <img class='potrait' src='./img/MY IMAGE.jpeg' alt="Image broken">
       
         </div>
        
        {{>footer}}
      
        
    </body>
</html>