<!doctype html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="./img/logo.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
    <div class="main-content">
          {{>header}}
          <img class='potrait2' src='./img/in-progress.jpg' alt="Image broken">
       <p style="font-size:40px;">{{helpText}}</p>
    </div>
       
        {{>footer}}
    </body>
</html>